{% extends "home.html" %}

{% include "head" %}

{% block body %}
<body class="login-page" style="min-height: 464px;">
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>UASD</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Iniciar Sesión</p>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="ID banner">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <!-- <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div> -->
                        </div>

                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </div>

                    </div>
                </form>
                <div class="mt-2 mb-3">
                    <p>Para acceder a la plataforma debes utilizar el mismo usuario y contraseña que utilizas para ingresar a autoservicio.</p>
                    <p>Los docentes deben de utilizar la letra P delante de su código. Ejemplo: P990000</p>
                </div>

                <p class="mb-1">
                    <a href="#">¿Olvido su contraseña?</a>
                </p>
                <p class="mb-0">
                    <a href="#" class="text-center">Registrarse</a>
                </p>
            </div>

        </div>

    </div>
    </body>
{% endblock body %}

