{% extends 'body.html' %}

{% load static %}

{% block content %}
<div class="card card-default card-primary">
    <div class="card-header">
        <h3 class="card-title">
            {{ icon | safe }} {{ title }}
        </h3>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col mt-3">
                <form method="POST" class="needs-validation card card-body bg-light" novalidate>
                    {% csrf_token %}
                    <label for="matricula">Matrícula</label>
                    <div class="input-group mb-3">                            
                        <input type="text" name="matricula" id="matricula" class="form-control" value="{{ usuario.matricula }}" placeholder="" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-id-badge"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Por favor agregue la matrícula del nuevo usuario</div>
                    </div>
                    <label for="first_name">Nombre</label>
                    <div class="input-group mb-3">                            
                        <input type="text" name="first_name" id="first_name" class="form-control" value="{{ usuario.first_name }}" placeholder="" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Por favor agregue el nombre del nuevo usuario</div>
                    </div>
                    <label for="last_name">Apellido</label>
                    <div class="input-group mb-3">                            
                        <input type="text" name="last_name" id="last_name" class="form-control" value="{{ usuario.last_name }}" placeholder="" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Por favor agregue el apellido del nuevo usuario</div>
                    </div>
                    <label for="email">Correo electrónico</label>
                    <div class="input-group mb-3">                            
                        <input type="email" name="email" id="email" class="form-control" value="{{ usuario.email }}" placeholder="" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-at"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Por favor agregue el correo electrónico del nuevo usuario</div>
                    </div>                      
                    <label for="roles">Seleccionar el rol del usuario</label>
                    <section class="card card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioRol" id="flexRadioBasico" value="Basico" checked>
                            <label class="form-check-label text-info" data-toggle="tooltip" data-placement="top" title="Usuario basico del sistema de tickets." for="flexRadioDefault1">
                                Basico
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioRol" id="flexRadioStaff" value="Staff">
                            <label class="form-check-label text-success" data-toggle="tooltip" data-placement="top" title="Administrador normal." for="flexRadioDefault2">
                                Administrador
                            </label>
                        </div>
                        {% if user.is_superuser %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioRol" id="flexRadioSuperUser" value="SuperUser">
                                <label class="form-check-label text-warning" data-toggle="tooltip" data-placement="top" title="El Super Administrador tiene todos los privilegios así como acceso al panel de Django." for="flexRadioDefault3">
                                    Super Administrador
                                </label>
                            </div>
                        {% endif %}
                    </section>
        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header card-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-circle-exclamation" style="color: #007bff;"></i> Escriba su contraseña para confirmar.</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">                                        
                                    <label for="password">Contraseña</label>
                                    <div class="input-group mb-3">                                            
                                        <input type="password" name="passwordModal" id="id_passwordModal" class="input form-control" placeholder="" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text" onclick="password_show_hide_modal(event);">
                                                <a href=""><i class="fas fa-eye" id="show_eye_modal"></i></a>
                                                <a href=""><i class="fas fa-eye-slash d-none" id="hide_eye_modal"></i></a>
                                            </span>
                                        </div>
                                        <!-- <style>
                                            a, a:hover{
                                                color:#333
                                            }
                                        </style> -->
                                        <div class="invalid-feedback">Por favor confirmar con su contraseña</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i> Guardar cambios</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="gap-2">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i> Guardar cambios</button>
                        <a class="btn btn-danger" href="{% url 'gestion_de_usuarios' %}" role="button"><i class="fa-solid fa-xmark"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascript %}
    <!-- Para mostrar y ocultar la contraseña -->
    <script src="{% static '/js/mostrar_clave.js' %}"></script>
    <!-- Validar campos de formulario -->
    <script src="{% static 'js/validar_campos.js' %}"></script>
{% endblock javascript %}