{% extends "baseList.html" %} 

{% block columnas %}
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th class="text-center">Activo</th>
        <th class="text-center">Administrador</th>
        <th class="text-center">Super Administrador</th>
        <th>Opciones</th>
    </tr>
{% endblock columnas %}
    
<!-- 
    TODO: 
        ...
-->
{% block filas %}    
    {% for u in usuarios %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>

            {% if u.is_active %}
                <td class="text-center"><i class="fa-solid fa-check" style="color: #319e29;"></i></td>
            {% else %}
                <td class="text-center"><i class="fa-solid fa-xmark" style="color: #f40b0b;"></i></td>
            {% endif %}            

            {% if u.is_staff or u.is_superuser %}
                <td class="text-center"><i class="fa-solid fa-check" style="color: #319e29;"></i></td>
                <td class="text-center"><i class="fa-solid fa-check" style="color: #319e29;"></i></td>

                <td>
                    <a href="#" class="btn btn-sm btn-info disabled"><i class="fa-solid fa-ban"></i></a>
                    <a href="#" class="btn btn-sm btn-danger disabled"><i class="fa-solid fa-ban"></i></a>
                </td>
            {% else %}
                <td class="text-center"><i class="fa-solid fa-xmark" style="color: #f40b0b;"></i></td>
                <td class="text-center"><i class="fa-solid fa-xmark" style="color: #f40b0b;"></i></td>

                <td>
                    <a href="#" class="btn btn-sm btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock filas %}

{% block footer %}
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th class="text-center">Activo</th>
        <th class="text-center">Administrador</th>
        <th class="text-center">Super Administrador</th>
        <th>Opciones</th>
    </tr>
{% endblock footer %}

{% block button %}
    <a href="{% url 'crear_usuario' %}" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Nuevo Usuario
    </a>
{% endblock button %}