{% extends "baseList.html" %} 

{% block columnas %}
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>fecha login</th>
        <th>Opciones</th>
    </tr>
{% endblock columnas %}
    
{% block filas %}
    
    {% for u in usuarios %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.date_joined }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock filas %}

{% block footer %}
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>fecha login</th>
        <th>Opciones</th>
    </tr>
{% endblock footer %}

{% block button %}
    <button class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Nuevo Usuario
    </button>
{% endblock button %}