{% extends "baseList.html" %} 

{% block columnas %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">fecha login</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock columnas %}
    
{% block filas %}
    
    {% for u in usuarios %}
    {% comment %} {% for u in object_list %} asi se hace para la vista UsuariosListView {% endcomment %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.date_joined }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock filas %}

{% block footer %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">fecha login</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock footer %}

{% block button %}
    <button class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Nuevo Usuario
    </button>
{% endblock button %}