{% extends 'body.html' %}

{% load static %}

{% block content %}
    <div class="card card-default card-primary">
        <div class="card-header">
            <h3 class="card-title">
                {{ icon | safe }} {{ title }}
            </h3>
        </div>
        
        <div class="d-flex align-items-center justify-content-center mt-3">
            <div class="card card-secundary card-outline">
                <div class="card-body box-profile bg-light pl-5 pr-5">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="{{ request.user.get_image }}"
                            alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">Se unió:</h3>
                    <p class="text-muted text-center">{{ request.user.date_joined }}</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Matrícula</b> <a class="float-right ml-5">{{ request.user.matricula }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Nombre</b> <a class="float-right ml-5">{{ request.user.first_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Apellido</b> <a class="float-right ml-5">{{ request.user.last_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Correo electrónico</b> <a class="float-right ml-5">{{ request.user.email }}</a>
                        </li>
                    </ul>
                    <!-- Botón para abrir el modal -->
                    <div>
                        <a href="#" class="btn btn-info btn-block" data-toggle="modal" data-target="#editarPerfilModal"><i class="fa-solid fa-pen-to-square"></i> <b>Editar perfil</b></a>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-info btn-block" data-toggle="modal" data-target="#modalChangePassword"><i class="fa-solid fa-lock"></i> <b>Cambiar contraseña</b></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal editar perfil -->
        <div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header card-header">
                        <h5 class="modal-title" id="editarPerfilModalLabel">
                            <i class="fa-solid fa-user" style="color: #007bff;"></i>
                            Editar perfil
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                        </button>
                    </div>
                    <!-- Campos de formulario (enctype para las imagenes) -->
                    <form action="" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="first_name" class="form-label">Nombre</label>
                            <div class="input-group mb-3">                                
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.user.first_name }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">Por favor agregue su nombre</div>
                            </div>
                            <label for="last_name" class="form-label">Apellido</label>
                            <div class="input-group mb-3">                                
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ request.user.last_name }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">Por favor agregue su apellido</div>
                            </div>
                            <label for="email" class="form-label">Correo electrónico</label>
                            <div class="input-group mb-3">                                
                                <input type="email" class="form-control" name="email" id="email" value="{{ request.user.email }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-at"></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">Por favor agregue su correo electrónico</div>
                            </div>
                            <!-- Agrega el campo para la imagen de perfil -->
                            <label for="imagenPerfil" class="form-label">Cambiar imagen de perfil</label>
                            <div class="input-group mb-3">                                
                                <input type="file" class="form-control" name="imagenPerfil" id="imagenPerfil">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-image"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'perfil_de_usuario' id=usuario.id %}" type="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancelar</a>                            
                            <button type="submit" class="btn btn-info" name="editar_perfil"><i class="fa-solid fa-pen-to-square"></i> Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal cambiar contraseña -->
        <div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="modalChangePasswordLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header card-header">
                        <h5 class="modal-title" id="modalChangePasswordLabel">
                            <i class="fa-solid fa-lock" style="color: #007bff;"></i>
                            Cambiar contraseña
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                        </button>
                    </div>
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="password">Contraseña actual</label>
                            <div class="input-group mb-3">                            
                                <input type="password" class="form-control" name="password1" id="id_password1" placeholder="" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="password_show_hide_pass1(event);">
                                        <a href=""><i class="fas fa-eye" id="show_eye_pass1"></i></a>
                                        <a href=""><i class="fas fa-eye-slash d-none" id="hide_eye_pass1"></i></a>
                                    </span>
                                </div>
                                <div class="invalid-feedback">Por favor agregue su contraseña actual</div>
                            </div>
                            <label for="password">Contraseña nueva</label>
                            <div class="input-group mb-3">                            
                                <input type="password" class="form-control" name="password2" id="id_password2" value="{{ password2 }}" placeholder="" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="password_show_hide_pass2(event);">
                                        <a href=""><i class="fas fa-eye" id="show_eye_pass2"></i></a>
                                        <a href=""><i class="fas fa-eye-slash d-none" id="hide_eye_pass2"></i></a>
                                    </span>
                                </div>
                                <div class="invalid-feedback">Por favor agregar la contraseña nueva</div>
                            </div>
                            <label for="password">Confirmar contraseña nueva</label>
                            <div class="input-group mb-3">                                            
                                <input type="password" class="form-control" name="passwordModal" id="id_passwordModal" value="{{ password3 }}" placeholder="" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="password_show_hide_modal(event);">
                                        <a href=""><i class="fas fa-eye" id="show_eye_modal"></i></a>
                                        <a href=""><i class="fas fa-eye-slash d-none" id="hide_eye_modal"></i></a>
                                    </span>
                                </div>
                                <div class="invalid-feedback">Por favor confirmar la contraseña nueva</div>
                            </div>
                            <div class="form-group">
                                <b style="font-size: 20px; text-align: center;">NOTA</b>
                                <ul style="font-size: 15px; text-align: justify;">
                                    <li>La contraseña debe tener al menos 8 caracteres.</li>
                                    <li>La contraseña debe contener al menos un número.</li>
                                    <li>La contraseña debe contener al menos una letra mayúscula y una minúscula.</li>
                                    <li>La contraseña debe contener al menos uno de los siguientes caracteres especiales: $ # @.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'perfil_de_usuario' id=usuario.id %}" type="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancelar</a> 
                            <button type="submit" class="btn btn-info" name="cambiar_contrasena"><i class="fa-solid fa-pen-to-square"></i> Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block javascript %}
    <!-- Para mostrar y ocultar la contraseña -->
    <script src="{% static '/js/mostrar_clave.js' %}"></script>
    <!-- Validar campos de formulario -->
    <script src="{% static 'js/validar_campos.js' %}"></script>
{% endblock javascript %}