{% extends 'body.html' %}

{% load static %}

{% block content %}
    <div class="card card-default card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa-solid fa-user"></i>
                Editar perfil
            </h3>
        </div>
        
        <div class="d-flex align-items-center justify-content-center mt-3">
            <div class="card card-secundary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="{{ request.user.get_image }}"
                            alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">Se unió:</h3>
                    <p class="text-muted text-center">{{ request.user.date_joined }}</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Matrícula</b> <a class="float-right ml-5">{{ request.user.matricula }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Nombre</b> <a class="float-right ml-5">{{ request.user.first_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Apellido</b> <a class="float-right ml-5">{{ request.user.last_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Correo electrónico</b> <a class="float-right ml-5">{{ request.user.email }}</a>
                        </li>
                    </ul>
                    <!-- Botón para abrir el modal -->
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editarPerfilModal"><b>Editar perfil</b></a>
                </div>
            </div>
        </div>
        
        <!-- Modal editar perfil -->
        <div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarPerfilModalLabel">
                            <i class="fa-solid fa-user" style="color: #007bff;"></i>
                            Editar perfil
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                        </button>
                    </div>
                    <!-- Campos de formulario (enctype para las imagenes) -->
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="first_name" class="form-label">Nombre</label>
                            <div class="input-group mb-3">                                
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.user.first_name }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <label for="last_name" class="form-label">Apellido</label>
                            <div class="input-group mb-3">                                
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ request.user.last_name }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <label for="email" class="form-label">Correo electrónico</label>
                            <div class="input-group mb-3">                                
                                <input type="email" class="form-control" name="email" id="email" value="{{ request.user.email }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-at"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Agrega el campo para la imagen de perfil -->
                            <label for="imagenPerfil" class="form-label">Cambiar imagen de perfil</label>
                            <div class="input-group mb-3">                                
                                <input type="file" class="form-control" name="imagenPerfil" id="imagenPerfil">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-image"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'perfil_de_usuario' id=usuario.id %}" type="button" class="btn btn-danger" >Cancelar</a>                            
                            <button type="submit" class="btn btn-primary" name="editar_perfil">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
