{% extends "baseList.html" %} 

{% load static %}

{% block columnas %}
    <tr>
        <th>#</th>
        <th>Nombre y Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <!-- <th>Asunto</th> -->
        <th>Departamento</th>
        <!-- <th>Descripcion</th> -->
        <th>Estado</th>
        <th>Prioridad</th>
        <th>Opciones</th>
    </tr>
{% endblock columnas %}
    
{% block filas %}
    {% if user.is_superuser or user.is_staff %}
        {% for t in tickets %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ t.usuario.first_name }} {{ t.usuario.last_name }}</th>
                <td>{{ t.email}}</td>
                <td>{{ t.fecha_creacion|date:'d-m-Y H:i'}}</td>
                <!-- <td>{{ t.asunto}}</td> -->
                <td>{{ t.departamento}}</td>
                <!-- <td>{{ t.descripcion}}</td>             -->
                {% if t.estados.first.estado == 'Abierto' %}
                    <td class="text-success"><b>{{ t.estados.first.estado }}</b></td>
                {% elif t.estados.first.estado == 'En progreso' %}
                    <td class="text-warning"><b>{{ t.estados.first.estado }}</b></td>
                {% elif t.estados.first.estado == 'Cerrado' %}
                    <td class="text-danger"><b>{{ t.estados.first.estado }}</b></td>
                {% endif %}

                {% if t.prioridades.first.prioridad  == 'Baja' %}
                    <td class="text-info"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% elif t.prioridades.first.prioridad  == 'Normal' %}
                    <td class="text-warning"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% elif t.prioridades.first.prioridad  == 'Alta' %}
                    <td class="text-danger"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% endif %}
                <td>
                    {% if t.asignado_a is empty %}
                        <a href="{% url 'editar_ticket' id=t.id %}" class="btn btn-sm btn-info"><i class='fa fa-solid fa-pencil'></i></a>                    
                        <a href="#" onclick="eliminar_ticket({{ t.id }})" class='btn btn-sm btn-danger'><i class='fa fa-solid fa-trash'></i></a>                    
                        <a href="{% url 'comentar_ticket' id=t.id %}" class='btn btn-sm btn-primary'><i class='fa fa-solid fa-comment'></i> Comentar</a>
                    {% else %}
                        <a href="#" class="btn btn-sm btn-info disabled"><i class="fas fa-ban"></i></a>                    
                        <a href="#" class='btn btn-sm btn-danger disabled'><i class="fas fa-ban"></i></a>                   
                        <a href="{% url 'comentar_ticket' id=t.id %}" class='btn btn-sm btn-primary'><i class='fa fa-solid fa-comment'></i> Comentar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        {% for t in tickets_usuario_especifico %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ t.usuario.first_name }} {{ t.usuario.last_name }}</th>
                <td>{{ t.email}}</td>
                <td>{{ t.fecha_creacion|date:'d-m-Y H:i'}}</td>
                <!-- <td>{{ t.asunto}}</td> -->
                <td>{{ t.departamento}}</td>
                <!-- <td>{{ t.descripcion}}</td>             -->
                {% if t.estados.first.estado == 'Abierto' %}
                    <td class="text-success"><b>{{ t.estados.first.estado }}</b></td>
                {% elif t.estados.first.estado == 'En progreso' %}
                    <td class="text-warning"><b>{{ t.estados.first.estado }}</b></td>
                {% elif t.estados.first.estado == 'Cerrado' %}
                    <td class="text-danger"><b>{{ t.estados.first.estado }}</b></td>
                {% endif %}

                {% if t.prioridades.first.prioridad  == 'Baja' %}
                    <td class="text-info"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% elif t.prioridades.first.prioridad  == 'Normal' %}
                    <td class="text-warning"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% elif t.prioridades.first.prioridad  == 'Alta' %}
                    <td class="text-danger"><b>{{ t.prioridades.first.prioridad }}</b></td>
                {% endif %}
                <td>
                    {% if t.asignado_a is empty %}
                        <a href="{% url 'editar_ticket' id=t.id %}" class="btn btn-sm btn-info"><i class='fa fa-solid fa-pencil'></i></a>              
                        <a href="#" onclick="eliminar_ticket({{ t.id }})" class='btn btn-sm btn-danger'><i class='fa fa-solid fa-trash'></i></a>
                        <a href="#" class='btn btn-sm btn-primary disabled'><i class="fas fa-ban"></i> Comentar</a>                        
                    {% else %}
                        <a href="#" class="btn btn-sm btn-info disabled"><i class="fas fa-ban"></i></a>                   
                        <a href="#" class='btn btn-sm btn-danger disabled'><i class="fas fa-ban"></i></a>
                        <a href="{% url 'comentar_ticket' id=t.id %}" class='btn btn-sm btn-primary'><i class='fa fa-solid fa-comment'></i> Comentar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock filas %}

{% block footer %}
    <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Nombre y Apellido</th>
        <th>Email</th>
        <!-- <th>Asunto</th> -->
        <th>Departamento</th>
        <!-- <th>Descripcion</th> -->
        <th>Estado</th>
        <th>Prioridad</th>
        <th>Opciones</th>
    </tr>
{% endblock footer %}

{% block javascript %}
    <!-- datatables -->
    <script>
        $(function () {
            $('#data').DataTable({
                responsive: true,
                responsive: {
                    details: {
                        display: DataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Detalles para ' + data[1];
                            }
                        }),
                        renderer: DataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                },
                // autowidth: false,
                "language": {
                    url : "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                },
            });
        });
    </script>

    <!-- Mensajes sweetalert2 -->
    <script src="{% static '/js/eliminar_ticket.js' %}"></script>
{% endblock javascript %}
