{% extends "body.html" %}

{% load static %}

{% block content %}

<div class="card card-default card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa-solid fa-house"></i>
            Home
        </h3>
    </div>
    <style>
        .custom-box {
            border: 1px solid white;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            background-color: aliceblue;
            /* Centra el contenido */
        }

        .btn-box {
            text-decoration: none;
            /* Elimina el subrayado del enlace */
        }
    </style>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn-box">
                        <div class="custom-box">
                            <i class="fas fa-5x fa-ticket mb-3"></i>
                            <h4>Crear un ticket</h4>
                            <p>Acceder a la creación de tickets</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn-box">
                        <div class="custom-box">
                            <i class="fas fa-5x fa-user-edit mb-3"></i>
                            <h4>Consultar tickets</h4>
                            <p>Ver tickets creados, solicitudes actuales y respuestas</p>
                        </div>
                    </a>
                </div>
            </div>
            {% if user.is_superuser or user.is_staff %}
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'generar_reportes' %}" class="btn-box">
                            <div class="custom-box">
                                <i class="fas fa-5x fa-file-lines mb-3"></i>
                                <h4>Generar Reportes</h4>
                                <p>Acceder al panel de reportes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'gestion_de_usuarios' %}" class="btn-box">
                            <div class="custom-box">
                                <i class="fas fa-5x fa-users mb-3"></i>
                                <h4>Gestion de Usuarios</h4>
                                <p>Acceder al panel de gestionar da necesarios</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}