{% extends "body.html" %}

{% load static %}

{% block content %}

<div class="card card-default card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa-solid fa-house"></i>
            Home
        </h3>
    </div>
    <style>
        .custom-box {
            border: 1px solid white;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            background-color: aliceblue;
            /* Centra el contenido */
        }

        .btn-box {
            text-decoration: none;
            /* Elimina el subrayado del enlace */
        }        
        .swal2-image {
            /* Para mostrar la imagen del sweetalert en circular */
            border-radius: 50%;
        }          
    </style>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'crear_ticket' %}" class="btn-box">
                        <div class="custom-box">
                            <i class="fas fa-5x fa-ticket mb-3"></i>
                            <h4>Crear un ticket</h4>
                            <p>Acceder a la creación de tickets</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'consultar_ticket' %}" class="btn-box">
                        <div class="custom-box">
                            <i class="fas fa-5x fa-user-edit mb-3"></i>
                            <h4>Consultar tickets</h4>
                            <p>Ver tickets creados, solicitudes actuales y respuestas</p>
                        </div>
                    </a>
                </div>
            </div>
            {% if user.is_superuser or user.is_staff %}
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'generar_reportes' %}" class="btn-box">
                            <div class="custom-box">
                                <i class="fas fa-5x fa-file-lines mb-3"></i>
                                <h4>Generar Reportes</h4>
                                <p>Acceder al panel de reportes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'gestion_de_usuarios' %}" class="btn-box">
                            <div class="custom-box">
                                <i class="fas fa-5x fa-users mb-3"></i>
                                <h4>Gestion de Usuarios</h4>
                                <p>Acceder al panel de gestionar da necesarios</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
    <!-- Mensaje de bienvenida -->
    <script>
        function mensajeBienvenida() {
            const ya_mostrado = localStorage.getItem('mensajeMostrado');
            if (!ya_mostrado) {
                let usuario = '{{ request.user.matricula }}'
                // En Django, el valor de True o False en Python no se traduce directamente a JavaScript.
                // El filtro yesno de Django para convertir True y False a las cadenas 'true' y 'false'. 
                // Luego, en JavaScript, comparo esas cadenas con 'true' y 'false' para obtener valores booleanos (true o false).
                let super_user = '{{ request.user.is_superuser|yesno:"true,false" }}' === 'true';
                let staff = '{{ request.user.is_staff|yesno:"true,false" }}' === 'true';
        
                let mensaje = '';
                if (super_user || staff) {
                    mensaje = '¡Bienvenido, Administrador!';
                } else if (usuario.toLowerCase().startsWith('p')) {
                    mensaje = '¡Bienvenido, maestro!';
                } else {
                    mensaje = '¡Bienvenido, estudiante!';
                }  
                Swal.fire({
                    icon: 'success',
                    title: mensaje,
                    text: "{{ request.user.first_name }} {{ request.user.last_name }}",                
                    imageUrl: "{{ request.user.get_image }}",
                    imageHeight: 100,
                    imageAlt: "Custom image",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    /* Para mostrar la imagen del sweetalert en circular */
                    didRender: function() {
                        const image = document.querySelector('.swal2-image');
                        if (image) {
                            image.classList.add('swal2-image--circular');
                        }
                    }
                });

                localStorage.setItem('mensajeMostrado', true);
            }
        }         
        
        window.addEventListener('DOMContentLoaded', (event) => {
            mensajeBienvenida();
        });
    </script>
{% endblock javascript %}