{% extends "body.html" %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/plugins/Responsive-2.5.0/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/plugins/SearchPanes-2.2.0/css/searchPanes.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/plugins/Select-1.7.0/css/select.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/lib/DataTables-1.13.8/plugins/Buttons-2.4.2/css/buttons.dataTables.min.css' %}"/>

    <script src="{% static '/lib/DataTables-1.13.8/js/jquery.dataTables.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Responsive-2.5.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Responsive-2.5.0/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/SearchPanes-2.2.0/js/dataTables.searchPanes.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Select-1.7.0/js/dataTables.select.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Buttons-2.4.2/js/dataTables.buttons.min.js' %}"></script>

    <script src="{% static '/lib/DataTables-1.13.8/plugins/JSZip-3.10.1/jszip.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Buttons-2.4.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/Buttons-2.4.2/js/buttons.print.min.js' %}"></script>
    
{% endblock head %}

{% block list %}
    <div class="card card-default card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa-solid fa-users"></i> {{ title }} 
            </h3>
        </div>
    
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                    {% block columnas %}
                    
                    {% endblock columnas %}
                </thead>
                <tbody>
                    {% block filas %}
                    
                    {% endblock filas %}
                </tbody>
                <tfoot>
                    {% block footer %}
                        
                    {% endblock footer %}
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <script>
                Swal.fire({
                    title: "Good job!",
                    text: "You clicked the button!",
                    icon: "success"
                });
            </script>
            <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {{ message }}
                        <script>
                            Swal.fire({
                                title: "Good job!",
                                text: "You clicked the button!",
                                icon: "success"
                            });
                        </script>
                    {% endfor %}
                </ul>
            {% endif %} -->
            <button class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Nuevo Usuario
            </button>
        </div>
    </div>
{% endblock list %}

{% block javascript %}
    <script>
        $(function () {
            $('#data').DataTable({
                //responsive: true,
                responsive: {
                    details: {
                        display: DataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Detalles para ' + data[1];
                            }
                        }),
                        renderer: DataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                },
            
                searchPanes: {
                    initCollapsed: true,
                    cascadePanes: true,
                    layout: 'columns-5'
                },
                dom: 'PBfrtip', //PB para poder utilizar botones y searchpanels al mismo tiempo
                columnDefs: [
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [1, 2, 3, 4, 5]
                    }
                ],
            
                // autowidth: false,
                "language": {
                    url : "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                },
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa-solid fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-outline-success',
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa-solid fa-file-pdf"></i> ',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-outline-danger',
                        download: 'open',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa-solid fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-outline-info',
                    },
                ]
            });
        });
    </script>
{% endblock javascript %}