{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'principal_miticket' %}" class="brand-link">
        <img src="{% static '/img/ticket_icon3.png' %}"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Mi Ticket</b></span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'perfil_de_usuario' id=user.id %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Menú de opciones</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-solid fa-ticket"></i>
                        <p>
                            Crear un ticket
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Consultar tickets
                        </p>
                    </a>
                </li>
                {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-file-lines"></i>
                            <p>
                                Generar Reportes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Gestion Usuarios
                            </p>
                        </a>
                    </li>                
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
