{% extends "home.html" %}
{% load static %} 
{% block body %}

    {% if validlink %}
        <div class="login-page" style="min-height: 386.25px;">
            <div class="login-box">
                <div class="login-logo">
                    <a href="#"><b><i class="fas fa-solid fa-lock" style="color: #48e;"></i> Nueva contraseña</b></a>
                </div>            
                <div class="card card-outline card-primary">
                    <div class="card-body">
                        <p class="login-box-msg">Estás a sólo un paso de tu nueva contraseña, cambia tu contraseña ahora.
                        </p>                    
                            <form action="" method="post" class="needs-validation" novalidate>
                                {% csrf_token %}
                                {% load my_filters %}

                                {{ form.new_password1.errors }}
                                <div class="input-group mb-3">                                
                                    {{ form.new_password1|add_attr:'class:form-control, placeholder: Contraseña' }}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor, escriba su nueva contraseña
                                    </div>
                                </div>
                                {{ form.new_password2.errors }}
                                <div class="input-group mb-3">                                
                                    {{ form.new_password2|add_attr:'class:form-control, placeholder: Nueva contraseña' }}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor, confirme la nueva contraseña
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="fa-solid fa-lock mr-1"></i> Cambiar contraseña</button>
                                    </div>
            
                                </div>
                            </form>
                        <p class="mt-3 mb-1">
                            <a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
                        </p>
                    </div>    
                </div>
            </div>    
        </div>
    {% else %}              
        <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" style="background-color: #e9ecef;">
            <div class="card card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                        <h3 class="text-danger"><i class="fa-solid fa-circle-exclamation" style="color: red;"></i> ENLACE INVALIDO</h3>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <h1 class="text-center text-danger"> ESTE ENLACE YA HA SIDO UTILIZADO, O YA HA ESPIRADO.</h1>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-12">
                        <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket mr-1"></i> Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>                
    {% endif %}

<!-- Validar campos de formulario -->
<script src="{% static 'js/validar_campos.js' %}"></script>
{% endblock %}