{% extends "home.html" %}
{% load static %} 
{% block body %}

    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" style="background-color: #e9ecef;">
        <div class="card card-outline card-primary">
            <div class="card-body">
                <h1 class="text-primary"><i class="fa-solid fa-circle-check"></i> Su contraseña se ha reestablecido correctamente.</h1>
            </div>
            <div class="card-footer">
                <div class="col-12">
                    <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket mr-1"></i> Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}