{% extends "home.html" %}
{% load static %} 
{% block body %}
    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" style="background-color: #e9ecef;">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <h3><i class="fas fa-solid fa-envelope mr-1" style="color: #48e;"></i> Restablecimiento de contraseña enviado</h3>
                </h3>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, <b style="color: crimson;">si existe una cuenta <br> con el correo electrónico que ingresó</b>, debería recibirlo en breve.</p>

                    <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y <br> verifique su carpeta de correo no deseado.</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-12">
                    <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket mr-1"></i> Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}