{% extends "baseList.html" %} 

{% load static %}

{% block columnas %}
    <tr>
        <th>#</th>
        <th>Matrícula</th>
        <th>Nombre y apellido</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Prioridad</th>
    </tr>
{% endblock columnas %}
    
{% block filas %}
    
    {% for t in tickets %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ t.usuario.matricula }}</td>
            <td>{{ t.usuario.first_name }} {{ t.usuario.last_name }}</th>
            <td>{{ t.email }}</td>
            <td>{{ t.fecha_creacion|date:'d-m-Y H:i'}}</td>
            
            {% if t.estados.first.estado == 'Abierto' %}
                <td class="text-success"><b>{{ t.estados.first.estado }}</b></td>
            {% elif t.estados.first.estado == 'En progreso' %}
                <td class="text-warning"><b>{{ t.estados.first.estado }}</b></td>
            {% elif t.estados.first.estado == 'Cerrado' %}
                <td class="text-danger"><b>{{ t.estados.first.estado }}</b></td>
            {% endif %}

            {% if t.prioridades.first.prioridad  == 'Baja' %}
                <td class="text-info"><b>{{ t.prioridades.first.prioridad }}</b></td>
            {% elif t.prioridades.first.prioridad  == 'Normal' %}
                <td class="text-warning"><b>{{ t.prioridades.first.prioridad }}</b></td>
            {% elif t.prioridades.first.prioridad  == 'Alta' %}
                <td class="text-danger"><b>{{ t.prioridades.first.prioridad }}</b></td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock filas %}

{% block footer %}
    <tr>
        <th>#</th>
        <th>Matrícula</th>
        <th>Nombre y apellido</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Prioridad</th>
    </tr>
{% endblock footer %}

{% block button %}
    <a href="{% url 'generar_reportes' %}" class='btn btn-success' >
        <i class="fas fa-sync-alt"></i> 
        Refrescar
    </a>
{% endblock button %}

{% block javascript %}
    <!-- datatables -->
    <script src="{% static '/js/datatable_generar_reportes.js' %}"></script>
{% endblock javascript %}